body
{
counter-reset: theorem;
counter-reset: lemma;
counter-reset: definition;
counter-reset: remark;
counter-reset: proposition;
}


.proposition {
    counter-increment: proposition;
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: Lavender;
    border-left: 6px solid;
    border-color: DarkGrey;
    padding:10px 10px 10px 20px;
}
.proposition:before {
    content: "Proposition " counter(proposition) ".";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.remark {
    counter-increment: remark;
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: PaleGreen;
    border-left: 6px solid;
    border-color: DarkGreen;
    padding:10px 10px 10px 20px
}
.remark:before {
    content: "Remark " counter(remark) ".";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}


.theorem {
    counter-increment: theorem;
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: LemonChiffon;
    border-left: 6px solid;
    border-color: Tomato;
    padding:10px 10px 10px 20px;
}
.theorem:before {
    content: "Theorem " counter(theorem) ".";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.lemma {
    counter-increment: lemma;
    display: block;
    margin: 12px 0;
    font-style: italic;
    background-color: Lavender;
    border-left: 6px solid;
    border-color: DarkGrey;
    padding:10px 10px 10px 20px;
}
.lemma:before {
    content: "Lemma " counter(lemma) ".";
    font-weight: bold;
    font-style: normal;
}

.proof {
    display: block;
    margin: 12px 0 0 30px;
    font-style: normal;
    padding:10px 10px 10px 30px;
    border-left: 6px solid;
    border-color: DarkGrey;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}

.definition {
    counter-increment: definition;
    display: block;
    margin: 12px 0;
    font-style: normal;
    background-color: LightCyan;
    border-left: 6px solid;
    border-color: DarkCyan;
    padding:10px 10px 10px 20px;
}
.definition:before {
    content: "Definition " counter(definition) ".";
    font-weight: bold;
    font-style: normal;
}

